@import "tailwindcss";

:root {
	--jet-black: #292f36ff;
	--accentColor: #0b85a0;
	--accentColorMuted: #e9e9e9;
	--accentColorHover: #116b7f;
	--mint-cream: #f7fff7ff;
	--grapefruit-pink: #ff6b6bff;

	--listHover: #f8f8f8;
	
	--textMuted: #8693a1;
	--fontBold: 600;
	--fontBolder: calc(var(--fontBold) + 100);

	--statusProgress: #c3ad08;
	--statusCompleted: #0e2ead;
}

h1 {
	@apply text-5xl font-bold;
	color: var(--jet-black);
}

p {
	@apply text-xl;
}

.accentBtn {
	@apply px-4 py-2 text-white font-semibold transition-colors duration-50 ease-in rounded-md;
	background-color: var(--accentColor);

	&:hover {
		background-color: var(--accentColorHover);
	}
}

.title {
	@apply text-lg font-bold tracking-tight ;
	color: var(--jet-black);
}

input {
	@apply outline-none border-none;
}

textarea{
	outline: none;
}

.project-status {
	@apply px-3 py-1.5 text-sm font-medium rounded-full;
}

.completed{
	color: var(--statusCompleted);
}

.inprogress{
	color: var(--statusProgress);
}

i {
	@apply flex items-center;
}